{% extends 'base.html.twig' %}

{% block title %}LineShop{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
<div class="container">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

     {# {% for message in app.flashes('demande') %}
        <div class="flash-demande">
          <div class="alert">
            {{message}}
          </div>
        </div>
    {% endfor %}  #}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}
<div class="form-group ">
    <h2 class="h3 mb-3 font-weight-normal d-flex justify-content-center text-info">Connectez-vous</h2>
    <label class="d-flex justify-content-center" for="inputEmail">Email</label>
    <input  type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label class="d-flex justify-content-center" for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
<hr>
<div class="d-flex justify-content-center">
    <button class="btn btn-sm btn-outline-info" type="submit">
        Connectez-vous
    </button>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <small>Vous ne possédez pas de compte ? Inscrivez vous <a href="{{ path('app_register') }}">ici</a></small>
    </div>
</form>
</div>
{% endblock %}
