{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<style>
#form
{
    text-align:center;
}
</style>
    {% block header %}
        {{ parent() }}
    {% endblock %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    
    <div class="container">
    
    {{ form_start(registrationForm) }}
            <div class="form-group" id="form">
                <h3 class="text-info">Enregistrez-vous</h3>
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-sm btn-outline-info">Register</button>
            </div>
        </div>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
