{% extends 'base.html.twig' %}

{% block title %}Création d'article!{% endblock %}

{% block body %}
{% block header %}
    {{ parent() }}
{% endblock %}
    {% if is_granted('ROLE_ADMIN') %}
    <div class="container mb-5">
        {{ form_start(form)}}
            {{ form_row(form.nomarticle,{'label':"Titre de l'article"}) }}
            
            {{ form_row(form.imagearticle) }}
            {{ form_row(form.descriptionarticle,{'label':"Description article"} ) }}
            {{ form_row(form.prixarticle,{'label':"Prix en €"}) }}
            {{ form_row(form.idcategorie,{'label':"Catégorie"}) }}
            {{ form_row(form.envoyer,{'attr':{'class':"btn btn-md   lienCate"}}) }}
        {{ form_end(form) }}
    
    </div>
    {% endif %}
{% endblock %}
