{% extends 'base.html.twig' %}

{% block title %}LineShop{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
      
    {% endblock %}
    {% for message in app.flashes('demande') %}
        <div class="flash-demande">
          <div class="alert_error">
            {{message}}
          </div>
        </div>
    {% endfor %} 
    
    
<div class="container">
<div class="row">
    <nav class="col-6 navbar navbar-expand-md ml-4">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            {% if is_granted('ROLE_ADMIN')  %}
              <li class="nav-item">
                    <a class="nav-link link-navi" href="{{path('creation_article')}}"><span>Création</span></a>
              </li>
              <li class="nav-item">
                <span class="nav-link text-info">|</span>
              </li>
            {% endif %}
                <li class="nav-item">
                    <a class="nav-link link-navi" href="{{path('app_homepage')}}"><span>Toutes les catégories</span></a>
                </li>
                 {% for categorie in categories %}
                <li class="nav-item">
                
                    <a class="nav-link  ml-4 link-navi" href="/article/{{categorie.idcategorie}}"><span>{{categorie.nomcategorie}}</span></a>
                
                </li>
                {% endfor %} 
            </ul>
        </div>
    </nav>
</div>


  <div class="row justify-content-center ">
    {% for article in articles %}
      <div class="card col-lg-3 col-md-4 col-sm-6 col-6 m-3 carte">             
        <div class="card-body text-center" width="261">
          <header class="banner"><img class="img-fluid img-thumbnail" src="{{ asset ('image/' ~ article.imagearticle )}}"  id="img2" alt=""></header>
            <div class="card-title">
            </div>
            <div class="des-text">
            <div class="card-text text-justify carte-description">
            <span class=" text-center"><i>{{article.nomarticle}} :</i></span> <br>
              <label>{{article.descriptionarticle}}</label> <hr>
            </div >
              <div class="col-12 d-flex justify-content-center">
                <div class="">
                  <p class="font-weight-bold">{{article.prixarticle}} €</p>     

              
              <button type="submit" class="btn btn-sm btn-envoie">
              <a class="ajout-link" href="{{ path( 'modif_panier',{'id' : article.idarticle, 'prix' : article.prixarticle, 'action' : 1} ) }}">
              Ajouter au <i class="ri-shopping-basket-2-line"></i>
              </a>
              </button>

              
</div>
              
                </div>
            </div>
        </div>
      </div>

    {% endfor %}
  </div>
</div>  
    
 
 {% endblock %}  

